* {
    margin: 0;
    padding: 0;
    background-color: rgb(133, 125, 125);
    color: rgb(0, 0, 0);
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    margin-top: 20%;
}
